# Synopsis

We will be pulling data from a sqlite file in our github repo. Make sure you are pulling in the most recent copy of the data through a git pull.

### Dependencies

In [4]:
import sqlite3
import pandas as pd

### Set Up connection

In [23]:
# sqlite3.connect('../data/olympics_raw.sqlite')
conn = sqlite3.connect('../data/new_olympics.db')

In [24]:
cursor = conn.cursor()

In [25]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('olympics_raw',), ('flags_ref',), ('country_ref',), ('sqlite_sequence',)]

### Read Data

In [11]:
# available tables include [olympics_raw, country_ref, flags_ref, country_agg]
pd.read_sql(f'SELECT * FROM olympics_raw LIMIT 5', conn)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver