In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
import os
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import func

In [2]:
app = Flask(__name__)

app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///../data/new_olympics.db'
db = SQLAlchemy(app)

C:\Users\norfe\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
sqlite3.connect('../data/olympics_raw.sqlite')
conn = sqlite3.connect('../data/new_olympics.db')

In [4]:
pd.read_sql('SELECT * FROM olympics_raw LIMIT 1', conn)

,id,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,country_id
0,1,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,1

In [6]:
 # Create engine using the `demographics.sqlite` database file
Base = automap_base()    
engine = create_engine("sqlite:///../data/new_olympics.db")
Base.prepare(engine, reflect=True)

In [7]:
Base.classes.keys()

['country_ref', 'olympics_raw']

In [8]:
Base.metadata

MetaData(bind=None)

In [9]:
class olympic_raw(db.Model):
    __tablename__ = 'olympics_raw'
    __table_args__ = {'extend_existing': True} 
    id = db.Column(db.Integer, primary_key=True)
    City = db.Column(db.String(64))
    Edition =  db.Column(db.String(64))
    Event= db.Column(db.String(64))
    Event_Gender= db.Column(db.String(64))
    Medal = db.Column(db.String(64))
    country_id =db.Column(db.Integer)
    NOC = db.Column(db.String(64))
    Gender = db.Column(db.String(64))
    Discipline = db.Column(db.String(64))
    Athlete = db.Column(db.String(64))

In [10]:
class raw(db.Model):
    __tablename__ = 'olympics_raw'
    __table_args__ = {'extend_existing': True} 
    id = db.Column(db.Integer, primary_key=True)
    City = db.Column(db.String(64))
    Edition =  db.Column(db.String(64))
    Event= db.Column(db.String(64))
    Event_Gender= db.Column(db.String(64))
    Medal = db.Column(db.String(64))
    country_id =db.Column(db.Integer, db.ForeignKey('country_ref.id'))
    NOC = db.Column(db.String(64))
    Gender = db.Column(db.String(64))
    Discipline = db.Column(db.String(64))
    Athlete = db.Column(db.String(64))
    def __repr__(self):
        return '<raw %r>' % (self.id)

In [11]:
class country_ref(db.Model):
    __tablename__ = 'country_ref' 
    __table_args__ = {'extend_existing': True} 
    id = db.Column(db.Integer, primary_key=True)
    country_name = db.Column(db.String(64))
    code =db.Column(db.String(64))
    flag_source = db.Column(db.String(64))
    flag_image = db.Column(db.String(64))
    def __repr__(self):
        return '<country_ref %r>' % (self.id)

In [12]:
countries = Base.classes.country_ref
raw = Ba

NameError: name 'Ba' is not defined

In [13]:
cr = db.session.query(country_ref.id, country_ref.code, country_ref.country_name,country_ref.flag_image).all()

In [14]:
count = db.session.query(raw.country_id,func.count(raw.id)).group_by(raw.country_id).all()

In [15]:
subq = (db.session.query(raw.country_id,func.count(raw.id)).group_by(raw.country_id)).subquery()

In [16]:
db.session.query(subq).all()

[(1, 1053),
 (2, 146),
 (3, 145),
 (4, 4335),
 (5, 1211),
 (6, 1594),
 (7, 1314),
 (8, 1075),
 (9, 491),
 (10, 376),
 (11, 48),
 (12, 782),
 (13, 408),
 (14, 178),
 (15, 592),
 (16, 7),
 (17, 1021),
 (18, 537),
 (19, 377),
 (20, 1228),
 (21, 395),
 (22, 29),
 (23, 97),
 (24, 451),
 (25, 17),
 (26, 37),
 (27, 329),
 (28, 164),
 (29, 372),
 (30, 704),
 (31, 2),
 (32, 239),
 (33, 499),
 (34, 31),
 (35, 76),
 (36, 435),
 (37, 624),
 (38, 8),
 (39, 24),
 (40, 9),
 (41, 24),
 (42, 33),
 (43, 17),
 (44, 80),
 (45, 82),
 (46, 3),
 (47, 102),
 (48, 2),
 (49, 466),
 (50, 6),
 (51, 15),
 (52, 48),
 (53, 20),
 (54, 2049),
 (55, 11),
 (56, 331),
 (57, 4),
 (58, 260),
 (59, 17),
 (60, 121),
 (61, 23),
 (62, 5),
 (63, 42),
 (64, 38),
 (65, 21),
 (66, 16),
 (67, 1),
 (68, 4),
 (69, 7),
 (70, 81),
 (71, 84),
 (72, 825),
 (73, 490),
 (74, 6),
 (75, 22),
 (76, 19),
 (77, 52),
 (78, 11),
 (79, 1),
 (80, 21),
 (81, 1),
 (82, 2),
 (83, 1),
 (84, 23),
 (85, 679),
 (86, 1),
 (87, 2),
 (88, 4),
 (89, 14),
 (90, 3),
 (91, 2),
 (92, 4),
 (93, 35),
 (94, 1),
 (95, 1),
 (96, 1),
 (97, 1),
 (98, 223),
 (99, 4),
 (100, 2),
 (101, 50),
 (102, 6),
 (103, 79),
 (104, 7),
 (105, 21),
 (106, 3),
 (107, 638),
 (108, 148),
 (109, 2),
 (110, 1),
 (111, 2),
 (112, 41),
 (113, 92),
 (114, 1),
 (115, 39),
 (116, 17),
 (117, 29),
 (118, 6),
 (119, 18),
 (120, 3),
 (121, 9),
 (122, 16),
 (123, 1),
 (124, 2),
 (125, 3),
 (126, 1),
 (127, 2),
 (128, 1),
 (129, 14),
 (130, 1),
 (131, 17),
 (132, 1),
 (133, 15),
 (134, 1),
 (135, 1),
 (136, 1),
 (137, 2),
 (138, 1)]

In [24]:
db.session.query(country_ref.country_name, country_ref.code, subq).join(subq).all()

[('Hungary', 'HUN', 1, 1053),
 ('Austria', 'AUT', 2, 146),
 ('Greece', 'GRE', 3, 145),
 ('United States', 'USA', 4, 4335),
 ('Germany', 'GER', 5, 1211),
 ('United Kingdom', 'GBR', 6, 1594),
 ('France', 'FRA', 7, 1314),
 ('Australia', 'AUS', 8, 1075),
 ('Denmark', 'DEN', 9, 491),
 ('Switzerland', 'SUI', 10, 376),
 ('Mixed Teams', 'ZZX', 11, 48),
 ('Netherlands', 'NED', 12, 782),
 ('Belgium', 'BEL', 13, 408),
 ('India', 'IND', 14, 178),
 ('Canada', 'CAN', 15, 592),
 ('Bohemia', 'BOH', 16, 7),
 ('Sweden', 'SWE', 17, 1021),
 ('Norway', 'NOR', 18, 537),
 ('Spain', 'ESP', 19, 377),
 ('Italy', 'ITA', 20, 1228),
 ('Cuba', 'CUB', 21, 395),
 ('Australasia', 'ANZ', 22, 29),
 ('South Africa', 'RSA', 23, 97),
 ('Finland', 'FIN', 24, 451),
 ('Russian Empire', 'RU1', 25, 17),
 ('Estonia', 'EST', 26, 37),
 ('Czechoslovakia', 'TCH', 27, 329),
 ('New Zealand', 'NZL', 28, 164),
 ('Brazil', 'BRA', 29, 372),
 ('Japan', 'JPN', 30, 704),
 ('Luxembourg', 'LUX', 31, 2),
 ('Argentina', 'ARG', 32, 239),
 ('Poland', 'POL', 33, 499),
 ('Portugal', 'POR', 34, 31),
 ('Uruguay', 'URU', 35, 76),
 ('Yugoslavia', 'YUG', 36, 435),
 ('Romania', 'ROU', 37, 624),
 ('Haiti', 'HAI', 38, 8),
 ('Egypt', 'EGY', 39, 24),
 ('Philippines', 'PHI', 40, 9),
 ('Ireland', 'IRL', 41, 24),
 ('Chile', 'CHI', 42, 33),
 ('Latvia', 'LAT', 43, 17),
 ('Mexico', 'MEX', 44, 80),
 ('Turkey', 'TUR', 45, 82),
 ('Panama', 'PAN', 46, 3),
 ('Jamaica', 'JAM', 47, 102),
 ('Sri Lanka', 'SRI', 48, 2),
 ('Korea, Republic of', 'KOR', 49, 466),
 ('Puerto Rico', 'PUR', 50, 6),
 ('Peru', 'PER', 51, 15),
 ('Iran', 'IRI', 52, 48),
 ('Trinidad and Tobago', 'TRI', 53, 20),
 ('Soviet Union', 'URS', 54, 2049),
 ('Venezuela, Bolivarian Republic of', 'VEN', 55, 11),
 ('Bulgaria', 'BUL', 56, 331),
 ('Lebanon', 'LIB', 57, 4),
 ('United Team of Germany', 'EUA', 58, 260),
 ('Iceland', 'ISL', 59, 17),
 ('Pakistan', 'PAK', 60, 121),
 ('Bahamas', 'BAH', 61, 23),
 ('British West Indies', 'BWI', 62, 5),
 ('Chinese Taipei', 'TPE', 63, 42),
 ('Ethiopia', 'ETH', 64, 38),
 ('Morocco', 'MAR', 65, 21),
 ('Ghana', 'GHA', 66, 16),
 ('Iraq', 'IRQ', 67, 1),
 ('Singapore', 'SIN', 68, 4),
 ('Tunisia', 'TUN', 69, 7),
 ('Kenya', 'KEN', 70, 81),
 ('Nigeria', 'NGR', 71, 84),
 ('East Germany', 'GDR', 72, 825),
 ('West Germany', 'FRG', 73, 490),
 ('Uganda', 'UGA', 74, 6),
 ('Cameroon', 'CMR', 75, 22),
 ('Mongolia', 'MGL', 76, 19),
 ("Korea, Democratic People's Republic of", 'PRK', 77, 52),
 ('Colombia', 'COL', 78, 11),
 ('Niger', 'NIG', 79, 1),
 ('Thailand', 'THA', 80, 21),
 ('Bermuda', 'BER', 81, 1),
 ('Tanzania', 'TAN', 82, 2),
 ('Guyana', 'GUY', 83, 1),
 ('Zimbabwe', 'ZIM', 84, 23),
 ('China', 'CHN', 85, 679),
 ("CÃ´te d'Ivoire", 'CIV', 86, 1),
 ('Zambia', 'ZAM', 87, 2),
 ('Dominican Republic', 'DOM', 88, 4),
 ('Algeria', 'ALG', 89, 14),
 ('Syrian Arab Republic', 'SYR', 90, 3),
 ('Suriname', 'SUR', 91, 2),
 ('Costa Rica', 'CRC', 92, 4),
 ('Indonesia', 'INA', 93, 35),
 ('Senegal', 'SEN', 94, 1),
 ('Djibouti', 'DJI', 95, 1),
 ('Netherlands Antilles', 'AHO', 96, 1),
 ('Virgin Islands', 'ISV', 97, 1),
 ('Unified Team', 'EUN', 98, 223),
 ('Namibia', 'NAM', 99, 4),
 ('Qatar', 'QAT', 100, 2),
 ('Lithuania', 'LTU', 101, 50),
 ('Malaysia', 'MAS', 102, 6),
 ('Croatia', 'CRO', 103, 79),
 ('Israel', 'ISR', 104, 7),
 ('Slovenia', 'SLO', 105, 21),
 ('Independent Olympic Participants', 'IOP', 106, 3),
 ('Russian Federation', 'RUS', 107, 638),
 ('Ukraine', 'UKR', 108, 148),
 ('Ecuador', 'ECU', 109, 2),
 ('Burundi', 'BDI', 110, 1),
 ('Mozambique', 'MOZ', 111, 2),
 ('Czechia', 'CZE', 112, 41),
 ('Belarus', 'BLR', 113, 92),
 ('Tonga', 'TGA', 114, 1),
 ('Kazakhstan', 'KAZ', 115, 39),
 ('Uzbekistan', 'UZB', 116, 17),
 ('Slovakia', 'SVK', 117, 29),
 ('Moldova, Republic of', 'MDA', 118, 6),
 ('Georgia', 'GEO', 119, 18),
 ('Hong Kong', 'HKG', 120, 3),
 ('Armenia', 'ARM', 121, 9),
 ('Azerbaijan', 'AZE', 122, 16),
 ('Barbados', 'BAR', 123, 1),
 ('Saudi Arabia', 'KSA', 124, 2),
 ('Kyrgyzstan', 'KGZ', 125, 3),
 ('Kuwait', 'KUW', 126, 1),
 ('Vietnam', 'VIE', 127, 2),
 ('Macedonia, Republic of', 'MKD', 128, 1),
 ('Serbia and Montenegro', 'SCG', 129, 14),
 ('Eritrea', 'ERI', 130, 1),
 ('Paraguay', 'PAR', 131, 17),
 ('United Arab Emirates', 'UAE', 132, 1),
 ('Serbia', 'SRB', 133, 15),
 ('Sudan', 'SUD', 134, 1),
 ('Mauritius', 'MRI', 135, 1),
 ('Togo', 'TOG', 136, 1),
 ('Tajikistan', 'TJK', 137, 2),
 ('Afghanistan', 'AFG', 138, 1)]

In [ ]:
db.session.query(country_ref,count).filter(country_ref.id == count.country_id).all()