In [3]:
import pandas as pd
from sqlalchemy import create_engine
import tqdm
from config import user, password

In [ ]:
endpoint = "olympics-dbsrv.cdxlmbtirvn0.us-east-2.rds.amazonaws.com"
db_name = 'olympics_nw_db2'

In [8]:
df = pd.read_csv("../data/Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.csv")

In [ ]:
engine = create_engine(f"postgresql://{user}:{password}@{endpoint}/{db_name}")
# engine = create_engine(f"postgres://doadmin:xsyqn8gmyjg3odrf@db-olympic-nw-do-user-2443490-0.db.ondigitalocean.com:25060/defaultdb?sslmode=require")
conn = engine.connect()

In [ ]:
import psycopg2
from sqlalchemy import create_engine, engine

def engine_builder():
    db_connect_url = engine.url.URL(
        drivername='postgresql',
        username=user,
        password=password,
        host=endpoint,
        port=5432,
        database=db_name)
    return create_engine(db_connect_url)

In [ ]:
engine = engine_builder()

In [ ]:
conn = engine.connect()

In [4]:
import pymongo

In [5]:
# client = pymongo.MongoClient("mongodb+srv://test:test123@cluster0-xdqxx.mongodb.net/test?retryWrites=true")
# db = client.test

# conn = 'mongodb+srv://test:test123@cluster0-xdqxx.mongodb.net/test?retryWrites=true'


client = pymongo.MongoClient("mongodb+srv://northwestern:admin123@cluster0-8twxj.mongodb.net/test?retryWrites=true")

In [6]:
db = client.olympics_db

In [9]:
data = df.to_dict(orient="records")

In [ ]:
db.olympics_raw.insert_one(data[0])

In [ ]:
for i in db.Divvy_Stations.find({'from_station_id':6}):
    print(i)

In [21]:
import sqlite3
sqlite3.connect('../data/olympics_raw.sqlite')

In [22]:
conn = sqlite3.connect('olympics.db')

In [23]:
df = df.loc[3:]
col_names = df.iloc[0].values

In [24]:
df.columns = col_names

In [25]:
df = df.iloc[1:]

In [26]:
df_test = df.head()

In [27]:
df = df.reset_index().drop('index', axis=1)

In [28]:
df.head()

,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
0,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
1,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
2,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
4,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze

In [29]:
df['Athlete'][0]

KeyError: 'Athlete'

In [30]:
df.to_sql(name = 'olympics_raw', con = conn, if_exists='replace', index=False)

/Users/MacBookPro/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [20]:
pd.read_sql('SELECT * FROM olympics_raw LIMIT 5', conn)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver